.u-section-1 .u-sheet-1 {
  min-height: 243px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    height: 39px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 708px;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  margin: 2px auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: 31px 0 60px;
}